* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    font-size: 65.5%;
    font-family: 'Times New Roman', Times, serif;
    background-color:#99FFCC;
    color: #606060;
}
.time-container {
    width: 100vw;
    
    
}
.container {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 5rem;
    border: 0.5rem solid #606060;
}
#quiz-heading {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-decoration: underline;

}
#start {
    color: #606060;
    display: flex;
    margin-top: 1rem;
    margin-left: 3.5rem;
}
a {
    text-decoration: none;
}
#initials-content {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.btn-container {
    display: flex;

}
#time-el {
    font-size: 2rem;
    margin: 3rem;
}
#questions-el {
    width: 80vw;
    font-size: 3rem;
    margin-bottom: 2rem;
}
#button1,
#button2,
#button3,
#button4 {
    font-size: 1rem;
    margin: 0.5rem;
    padding: 1rem;
}


